@model List<PizzaBox.Domain.Models.Crust>

<ul>
  @foreach (var item in Model)
  {
    <form action="/crust/delete" method="post">
    <li>@item.Name</li> 
    <button type="submit" id="delete" name="delete" value="delete">delete</button>
    </form>
  }
</ul>